<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="dsb-calling-integration-tests">
    <test name="dsb-calling-integration-tests">
        <packages>
            <package name="com.cisco.dhruva.callingIntegration.*"/>
        </packages>
    </test>
</suite>