<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include optional="true" resource="logback-included.xml"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!--pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} |%X{}| - %msg mdc:%mdc %n</pattern-->
      <pattern>%d{HH:mm:ss.SSS} %level [%thread] %logger{36} sipCallId=%X{sipCallId} connectionSignature=%X{connectionSignature} %file:%line sup=%msg%n</pattern>
    </encoder>
  </appender>
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>