<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="dsb-proxy-service-tests">
    <listeners>
        <listener class-name="com.cisco.dsb.proxy.util.TestSuiteListener"/>
    </listeners>
    <test name="dsb-proxy-service-tests">
        <packages>
            <package name="com.cisco.dsb.*"/>
        </packages>
    </test>
</suite>